@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Caveat&family=Dancing+Script&family=Poppins:wght@400;700&family=Sedgwick+Ave+Display&display=swap');

body {
  color: whitesmoke;
  background-color: #3B3B3B;
}

nav {
  text-align: center;
  text-shadow: 10px 10px 10px black;
}

.nav {
  display: flex;
  border-radius: 15px;
  padding: 15px;
}


.nav-item {
  margin: 10px;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  margin-left: 80px;
}

#nav-item {
  text-decoration: none;
  color: #D9CEB8;
  font-size: x-large;
  font-weight: 600;
}

#nav-item.active {
  color: #E16F08;
}


#logo {
  height: 120px;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 20px;
}

.header {
  text-align: center;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
}

#home {
  text-align: center;
  color: whitesmoke;
  line-height: 300%;
}

#about {
  text-align: center;
  color: whitesmoke;
  line-height: 180%;
  margin-top: 50px;
}


#sight {
  height: 150px;
  width: 200px;
  margin: 0 10px 0 10px;
  border: solid black 2px;
  box-shadow: 5px 5px 15px black;
  border-radius: 5px;
}

.banner {
  margin-top: -100px;
  height: 200px;
  width: 750px;
  grid-column-end: 11;
  text-align: center;
}

.gov-head {
  padding: 100px;
  color: #E16F08;
  font-family: 'Dancing Script', cursive;
  font-size: 64px;
  text-shadow: 2px 4px 4px gray;
}

.container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(1, 1fr)
}

.side-panel {
  display: flex;
  height: fit-content;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #D9CEB8;
  box-shadow: 10px 10px 20px black;
  margin-top: 50px;
  margin-left: 20px;
}

.govs {
  grid-column-start: 8;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: #D9CEB8;
  box-shadow: 10px 10px 20px black;
  color: black;
  margin-top: 50px;
}


.side {
  padding: 1px;
  margin: 7px 3px 0 2px;
  cursor: pointer;
  text-decoration: underline;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.flag {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: -5px;
  float: left;
}

.gov-list {
  display: flex;
  align-items: flex-end;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: larger;
  line-height: 160%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
}

h2 {
  font-family:  sans-serif;
  font-weight: 700;
  color: black;
  font-size: 30px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

.h3 {
  color: black;
  text-decoration: none;
}

.h4 {
  color: black;
}

.p {
  color: black;
}

.rec {
  font-family: 'Poppins', sans-serif;
}

.add {
  color: black;
}

summary {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: small;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 3px;
  background-color: lightgray;
  width: 54px;
  text-align: center;
  padding: 1px;
  margin-bottom: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
}

button {
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  background-color: rgb(154, 6, 35);
  color: white;
  cursor: pointer;
}

.add-rec {
  text-decoration: none;
  margin-top: 50px;
}

.add-container {
  padding: 20px;
  background-color: #D9CEB8;
  border-radius: 20px;
  width: 450px;
  height: fit-content;
}

#add-btn {
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  background-color: lightgray;
  color: black;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
  margin-left: 80px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 5px;
}

.rec-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: 70px;
}

.rec-card {
  background-color: #D9CEB8;
  width: 46%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px black;
}

.blog-container {
  margin-top: 50px;
}

.edit-delete {
  float: left;
}

.video {
  border: 3px solid black;
}

.email-container {
  justify-items: center;
  margin-top: 120px;
  margin-left: 33%;
  padding: 10px;
}

.social {
  margin-top: 20px;
  margin-left: 60px;
}

ion-icon {
  font-size: 64px;
  color: #E16F08;
  margin: 10px;
  box-shadow: 10px 10px 10px black;
  border-radius: 5px;
}

#email {
  color: #D9CEB8;
  text-decoration: none;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 10px black;
  margin-left: 10px;
}

.email {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  box-shadow: 10px 10px 10px black;
  width: 400px;
}

#email-icon {
  font-size: 55px;
  padding: 5px;
  margin-left: 35px;
  box-shadow: none;
}